node_modules
dist
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
installer/dist
installer/desktop-dist
installer/releases/*
!installer/releases/end-user/
!installer/releases/end-user/**
